* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 15px;
}
.banner-score {
    display: flex;
    justify-content: flex-start;
    padding: 5px 12px;
}
.banner-timer {
    display: flex;
    justify-content: space-between;
    padding: 5px 12px;
}
.banner-timer-count {
    display: flex;
    justify-content: flex-end;
    padding: 0 5px;    
}
.page-content {
    flex: 1; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px auto;
    width: 50%;
}
.code-quiz-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}
.btn, #start-quiz {
    color: white;
    background-color: #351c75;
    display: flex;
    justify-content: center;
    
}