* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 15px;
}
.banner-score {
    display: flex;
    justify-content: flex-start;
    padding: 5px 12px;
    color: #d395ef;
}
.banner-timer {
    display: flex;
    justify-content: space-between;
    padding: 5px 12px;
}
.banner-timer-count {
    display: flex;
    justify-content: flex-end;
    padding: 0 5px;    
}
.page-content {
    flex: 1; 
    display: flex;
    flex-wrap: wrap;    
    margin: 25px auto;
    width: 50%;
    /* pointer-events: none; */
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;    
}
h1, h2 {
    font-size: 30px;
    font-weight: 900;
    font-family: cursive;  
}
p {
    font-weight: normal;
    font-family: cursive;
}
/* .player-initials-text {
    pointer-events: auto;
} */
.btn {
    color: white;
    background-color: #351c75;
    font-size: 16px;   
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    /* pointer-events: initial; */
}
.question {  
    display: flex;
    justify-content: flex-start;
    text-align: left;  
}
.answers-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 35%; 
}
.answers {  
    color: white;
    background-color: #351c75;
    font-size: 16px;   
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start; 
    margin: 3px;
}
.notify {
    font-size: 28px;
    border-top: 2px solid;
    border-color: gray;
    color: grey; 
    width: 95%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}
.notify-score-container {
    display: flex;
    justify-content: flex-start;
    text-align: left;
}